*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151515;
}
.cube{
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 10s linear infinite ;
}
@keyframes animate {
  0%{
    transform: rotateX(0deg) rotateY(0deg);
  }
  10%{
    transform: rotateX(100deg) rotateY(100deg);
  }
  20%{
    transform: rotateX(200deg) rotateY(200deg);
  }
  30%{
    transform: rotateX(300deg) rotateY(300deg);
  }
  40%{
    transform: rotateX(200deg) rotateY(200deg);
  }
  50%{
    transform: rotateX(100deg) rotateY(100deg);
  }
  60%{
    transform: rotateX(0deg) rotateY(100deg);
  }
  70%{
    transform: rotateX(-100deg) rotateY(-100deg);
  }
  80%{
    transform: rotateX(-200deg) rotateY(-200deg);
  }
  900%{
    transform: rotateX(-100deg) rotateY(-100deg);
  }
  100%{
    transform: rotateX(0deg) rotateY(0deg);
  }

}

.Lc{
  position: absolute;
  top: 0;left:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.face0{
  border: 1px solid #c29436;
  position: absolute;
  padding: 110px;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000,#000000);
  transform: rotateY(calc(90deg * 0)) translateZ(150px);
}
.face1{
  border: 1px solid #c29436;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000,#000000);
  transform: rotateY(calc(90deg * 1)) translateZ(150px);
}
.face2{
  border: 1px solid #c29436;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000,#000000);
  transform: rotateY(calc(90deg * 2)) translateZ(150px);
}
.face3{
  border: 1px solid #c29436;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000,#000000);
  transform: rotateY(calc(90deg * 3)) translateZ(150px);
}

.top{
  position: absolute;
  transform-style: preserve-3d;
  top: 0;left: 0;
  width: 300px;
  height: 300px;
  background: #000000;
  transform: rotateX(90deg) translateZ(150px);
}
.bottom{
  content: '';
  position: absolute;
  transform-style: preserve-3d;
  top: 0;left: 0;
  width: 300px;
  height: 300px;
  background: #000000;
  transform:  rotateX(90deg) translateZ(-150px);
}

.points{
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 100%;
  background-color: #c29436;
  display: inline-block;
}
